# Supabase Configuration
# Obtén estas claves en tu panel de Supabase: Project Settings -> API
VITE_SUPABASE_URL=https://ghukyltijkgdbaewhmcm.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_GQZocmXSG5-sda85TtAFsg_7DizUgnk
